<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/travels">Home</a>
    <form action="/logout" method="POST">
        {% csrf_token %}
        <a href="/main">Logout</a>
    </form> 

    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
 
    <div>
        <form action="/createplans" method="POST">
        {% csrf_token %}
        <h3>Add a Trip</h3>
        Destination:
        <input type="textarea" name="destination"><br>
        Description:
        <input type="textarea" name="description"><br>
        Travel Date From:
        <input type="date" name="startdate"><br>
        Travel Date To:
        <input type="date" name="enddate"><br>

        <button>Add</button>
        </form> 

    </div>

</body>
</html>